@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

html {
    --ff: "DM Sans", serif;
    --bg-color: #040a1e;
    --second-bg-color: #424656;
    --accent-color: #60ecbd;
    --text-color: #a7aabd;
    --secondary-text-color: black;
    --fz-sm: 0.9rem;
    --fz: 1.2rem;
    --fz-md: 2rem;
    --fz-lg: 4rem;

    --shadow: 0 0 25px var(--accent-color);
    --shadow-md: 0 0 50px var(--accent-color);
    --shadow-lg: 0 0 100px var(--accent-color);
    --border-top: 2px solid var(--accent-color);
    --border: 1px solid var(--accent-color);
    --transition: 0.3s ease-in-out;

    scroll-behavior: smooth;

}

::-webkit-scrollbar-track {
    width: 10px;
}

:target {
    scroll-margin-top: 2rem;
}

#root{
    min-height: 100vh;
    display: grid;
    /* grid-template-rows: 1fr auto; */
    grid-template-columns: 1fr auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--fz);
    font-family: var(--ff);
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 4em 6em;
  }