@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

html {
    --ff: "DM Sans", serif;
    --bg-color: #040a1e;
    --second-bg-color: #424656;
    --accent-color: #60ecbd;
    --text-color: #a7aabd;
    --secondary-text-color: black;
    --fz-sm: 0.9rem;
    --fz: 1.2rem;
    --fz-md: 2rem;
    --fz-lg: 4rem;

    --shadow: 0 0 25px var(--accent-color);
    --shadow-md: 0 0 50px var(--accent-color);
    --shadow-lg: 0 0 100px var(--accent-color);
    --border-top: 2px solid var(--accent-color);
    --border: 1px solid var(--accent-color);
    --transition: 0.3s ease-in-out;

    scroll-behavior: smooth;

    scroll-margin-top: 10rem;
}

::-webkit-scrollbar-track {
    width: 10px;
}

#root{
    min-height: 100vh;
    display: grid;
    /* grid-template-rows: 1fr auto; */
    grid-template-columns: 1fr auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--fz);
    font-family: var(--ff);
}

main {
    /* margin: 0 auto; */
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 4em 6em;
  }

.header {
    position: sticky;
    top:0;
    left: 0;
    height: 100vh;
    padding: 4em 4em;
}

.header .big-heading {
    font-size: var(--fz-lg);
    font-weight: 900;
}

.header .small-heading {
    font-size: var(--fz-md);
    font-weight: 200;
    margin-bottom: 1.2em;
}


.header nav {
    margin-top: 3em;
    display: grid;
    justify-content: start;
    gap: 1em;

}

.header nav button {
    text-align: start;
    border: none;
    background-color: inherit;
    transition: var(--transition);
    &:hover {
        transform: scale(1.2);
    }
}


.header nav button a{
    /* margin-bottom: ; */
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
}


/* ABOUT ME */

.about article {
    margin-top: 2em;
    margin-bottom: 4em;
    font-size: 1.1rem;
    line-height: 1.5;
}

.about article p {
    margin-bottom: 1em;
}

.about .highlight {
    margin: 2em 0;
    padding: 2em 4em;
    background-color: var(--highlight);
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: 2px solid transparent;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
        border: var(--border);
        border-top: var(--border-top);
    }
}

.projects {
    padding-top: 8em;
}

/* PROJECTS */
.projects article {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2em;
    padding: 2em 3em;
    border-radius: 4px;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-top: 2px solid transparent;
    transition: var(--transition);
    margin-bottom: 2em;


    &:hover {
        transform: scale(1.02);
        border: 1px solid var(--accent-color);
        border-top: 2px solid var(--accent-color);
    }
}

.projects h3 {
    font-size: 1.4rem;
}


.experience {
    padding-top: 10em;
}

.experience h2 {
    text-align: center;
}

.experience article {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    font-size: var(--fz-sm);
    padding: 2em 3em;
    border: 1px solid transparent;
    border-top: 2px solid transparent;
    transition: var(--transition);
    border-radius: 3px;


    &:hover {
        transform: scale(1.02);
        border: var(--border);
        border-top: var(--border-top);

    }
}

.experience .date {
    text-wrap: nowrap;
    padding-top: 2px;
    font-size: var(--fz);
    color: var(--second-bg-color)
}

.experience .details .title {
    color: var(--text-color);
    font-size: 1rem;
    padding-top: 5px;
    margin-bottom: 1em;
}








