.experience {
    padding-top: 10em;
}

.experience h2 {
    text-align: center;
}

.experience article {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    font-size: var(--fz-sm);
    padding: 2em 3em;
    border: 1px solid transparent;
    border-top: 2px solid transparent;
    transition: var(--transition);
    border-radius: 3px;


    &:hover {
        transform: scale(1.02);
        border: var(--border);
        border-top: var(--border-top);

    }
}

.experience .date {
    text-wrap: nowrap;
    padding-top: 2px;
    font-size: var(--fz);
    color: var(--second-bg-color)
}

.experience .details .title {
    color: var(--text-color);
    font-size: 1rem;
    padding-top: 5px;
    margin-bottom: 1em;
}