name: Deploy Build

on:
  workflow_run:
    workflows:
      - "Build App"
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download build Artifact
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow: build.yaml
          workflow_conclusion: success
          name: react-build
          path: dist

      - name: Push to build-branch
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git fetch origin
          git checkout --orphan build-branch
          git reset --hard
          git clean -fdx 

          cp -r dist/* .
          rm -rf dist

          git add .
          git commit -m "Deploy build [skip ci]"
          git push -f origin build-branch
